* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    /* outline: 1px solid red; */
}

body {
    background-color: #F6F4F0;   
    color: #453F3A;
}

h1 {
    text-align: center;
    padding: 20px;
}

.container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
    padding: 0px 100px;;
}

.card {
    border: 1px solid #453F3A;
    border-radius: 5px;
    padding: 20px;
    background-color: #DECAC2;
    display: grid;
    grid-template-rows: 1fr 2fr 1fr;
    grid-template-columns: 1fr 1fr;
}

.title {
    font-size: x-large;
    grid-column: 1 / 3;
}

.author {
    font-size: medium;
    grid-column: 1 / 3;
}

.read {
    justify-self: end;
}