* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    /* outline: 1px solid red; */
}

body {
    background-color: #F6F4F0;   
    color: #453F3A;
}

h1 {
    text-align: start;
}

.container {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 20px;
    padding: 20px 100px;;
}

.header {
    display: flex;
    justify-content: space-between;
    padding: 20px 100px 2cap 100px;
    border-bottom: 1px solid #453F3A;
}

.newBookButton {
    background-color: #453F3A;
    color: #F6F4F0;
    width: 100px;
    border-radius: 10px;
}

.newBookButton:hover {
    cursor: pointer;
    background-color: #655c55;    
}

.card {
    border: 1px solid #453F3A;
    border-radius: 5px;
    display: grid;
    grid-template-rows: 50px 1fr 80px;
    grid-template-columns: 1fr 1fr;
}

.title {
    font-size: x-large;
    grid-column: 1 / 3;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    background-color: #DECAC2;
    padding: 20px;
}

.author {
    font-size: medium;
    grid-column: 1 / 3;
    background-color: #DECAC2;
    color: #655c55;
    padding-left: 20px;
    padding-bottom: 5px;
}

.pages {
    padding-left: 20px;
    align-self: self-end;
    padding-bottom: 20px;
    background-color: ;
}

.read {
    justify-self: end;
    padding-right: 20px;
    align-self: self-end;
    padding-bottom: 20px;
}